.section2{
    background-color: #1e1d1d ;
    height :600px;
    width :100%;
}

.section2 .title h1 {
    padding-top: 100px ;
    font-size: 50px ;
    color :white;
    font-family: Comfortaa ;
}

.section2  .title h4{
    color :white;
    font-family: Comfortaa ;
}

.section2 .content{
    margin-top :60px;
    display: flex ;
}

.section2 .content .text{
    flex : 1 ;
    color :white;
    padding: 50px ;
    padding-left :180px;
    padding-right: 180px ;
}

.section2 .content .text h1{
    margin-bottom: 20px ;
}

.section2 .content .text h4{
    margin-bottom: 20px ;
    font-size: 15px ;
}

.section2 .content .pic{
    flex:1;
}

.section2 .content .pic img{
    height :300px;
    width :250px;
}

.section2 .content .pic img:hover{
    box-shadow: 3px 3px 5px black ;
    transform: scale(1.05) ;
}
