*{
    margin :0px;
    padding :0px;
}

.top{
    background-color: white ;
    position: fixed ;
    top :0;
    left: 0 ;
    width: 100% ;
    height:8%;
    z-index: 5 ;
}

.logo img{
    height: 70px ;
    width :70px;
}

.logo{
    width: 70px;
}

.menu{
    position: fixed;
    top :0;
    right :0;
}

.section1{
    width :100%;
    height: 500px ;
    margin-top: 100px ;
    /*display :inline;*/
    background-color: white ;
}
.section1 .picture{
    width: 40%;
    display: inline-block ;
    margin-top :30px;
    margin-left: 100px ;
}

.red{
    color :#ff3232;
}

.section1 .text h1{
    font-size : 55px;
    font-family: serif;
    font-weight: bolder ;
}

.section1 .text h4{
    font-family: arial;
}

.section1 .text{
    display: inline-block ;
    width :40%;
    margin-left :50px;
    position: relative;
    bottom:150px;
}

.section1 .text button{
    margin-top: 20px ;
    background-color: #ff3232 ;
    border :none;
    color :white;
    border-radius: 10px ;
    width :120px;
    height :30px;
    font-family: arial ;
}

.section1 .picture img{
    height : 400px;
    width :500px;
}

.tabla{
    color :#ff3232;
    font-size: 18px ;
    font-weight: bolder ;
    margin-left :180px;
    letter-spacing: 50px ;
    position: relative;
    bottom: 410px ;
}
.between{
    color :white;
    background-color: #ff3232 ;
    width :200px;
    height :200px;
    position :relative;
    bottom :170px ;
    left :650px;
}

.between h1{
    padding-top :140px;
    padding-left: 10px ;
}

.between-c {
    font-size: 80px ;
    position: relative;
    bottom :450px;
    left: 770px ;
    color :white;
    width :100px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
